@import "style.less";

/*///////////////////////////////////////Terms of Service*/
.margin_l_r_auto{
  margin-left: auto;
  margin-right: auto;
}
.menu_style{
   margin-top: 40px;
   background-color: @mainBlue;
   font-size: 19px;
 }
.ul_bcg_style{
  background-color: #2D85BD;
}
.margin_top{
  margin-top: 8px;
}
.menu_buttons_style{
  font-size: 20px;
}
.logo{
  margin-top: -56px;
}
.main_container_body{
  height: auto;
  margin-top: -20px;
  margin-bottom: -50px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);;
  background-color: @main_container_body;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.text_style{
  width: 100%;
  height: 30px;
  margin-top: 50px;
  text-align: center;
  color: @mainBlue;

}
.info{
  .text_style;
  height: auto;
  padding-left: 75px;
  padding-right: 75px;
  text-align: left;
  color: @text_color_gray;
  margin-bottom: 50px;
}
//////footer
.bcg_color{
  background-color: @mainBlue;
}
.footer_links{
  width: 433px;
  background-color: #3895d0;
  color: #ffffff;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 60px;
}
.margin_footer_links{
  margin-left: 25px;
}
.social{
  width: 250px;
  height: 40px;
  margin-top: 42px;
  margin-left: 100px;
}
.social_buttons{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
}
.footer_logo{
  width: 130px;
  height: 91px;
  background-color: @mainBlue;
  margin-top: 5px;
  margin-left: 200px;
  vertical-align: right;
}
.copyright{
  width: 98%;
  height: 20px;
  border-top: 1px solid @mainWhite;
  margin-left: 10px;
  margin-right: 10px;
}
.copyright_style{
  color: @mainWhite;
  text-align:center;
  margin-top: -2px;
}
.white_div_footer{
  width: 100%;
  height: 15px;
  background-color: @mainWhite;
}
////////////////////////////////////

a:link {color:@mainWhite; font-family: raavi; text-decoration: none;}
a:visited {color:@mainWhite; font-family: raavi;}
a:hover {color: #C3DFF1; font-family: raavi;}
a:active {color:@mainWhite; font-family: raavi;}
