{% extends "base.html" %}
{% set active_page = "test" %}

{% set actions = [
    ('gen_count', 'Generate Count History'),
    ('get_counts', 'Get Count History'),
    ('downloaded_mock', 'Downloaded (Mock)'),
    ('clear_usage', 'Clear Usage'),
] -%}

{% set batch = [
    ('name', 'Name'),
    ('camera', 'Camera'),
    ('media', 'Media'),
    ('size', 'Size'),
    ('stats', 'Stats'),
    ('deleted', 'Deleted'),
    ('downloaded', 'Downloaded'),
    ('storage', 'Storage'),
    ('daily_stats', 'Daily Stats'),
    ('monthly_stats', 'Monthly Stats'),
] -%}
{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-align-center">500</h1>
                </div>
                <div class="col-md-12">
                    <div class="description">
                        <h2>Opps, blob {{resource}} does not exist.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}