{% extends "base.html" %}
{% set active_page = "users" %}

{% block page_title %}Profile: {{username}}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box">
			<div class="big-text">
				{{camera_count}}
			</div>
			<div class="description">
				<i class="fa fa-video-camera"></i>
				Camera
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box">
			<div class="big-text">
				{{media_count}}
			</div>
			<div class="description">
				<i class="fa fa-film"></i>
				Media
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box">
			<div class="big-text">
				<span id="storage_used">{{storage_used}}</span>
			</div>
			<div class="description">
				<i class="fa fa-hdd-o"></i>
				Storage Used (MB)
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<section class="widget large">
			<header>
				<h4><i class="fa fa-folder"></i> Usage (MB)</h4>
			</header>
			<div class="btn-group pull-right">
				<a href="/dashboard/csv/profile/user-usage-{{username}}.csv?key={{key}}" class="btn btn-default">CSV <i class="fa fa-download"></i></a>
			</div>
			<div id="usage-chart-line" class="body chart">
				<svg></svg>
			</div>
		</section>
	</div>
	<div class="col-md-6">
		<section class="widget large">
			<header>
				<h4><i class="fa fa-usd"></i> Cost ($)</h4>
			</header>
			<div class="btn-group pull-right">
				<a href="/dashboard/csv/profile/user-usage-{{username}}.csv?key={{key}}" class="btn btn-default">CSV <i class="fa fa-download"></i></a>
			</div>
			<div id="cost-chart-line" class="body chart">
				<svg></svg>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<h4><i class="fa fa-list"></i> Records</h4>
			</header>
			<div class="body">
				<table id="datatable-table" class="table table-striped">
					<thead>
					<tr>
						<th class="no-sort"></th>
						<th>Title</th>
						<th>User</th>
						<th>Camera</th>
						<th>Record Date</th>
						<th>Duration</th>
						<th class="numeric-comma-sort">Size (KB)</th>
					</tr>
					</thead>
					<tbody id="table-records">
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/dashboard/assets/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="/dashboard/assets/lib/nvd3/src/models/scatter.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/axis.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/legend.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBar.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBarChart.js"></script> -->
<script src="/dashboard/assets/lib/nvd3/src/models/line.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/lineChart.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/stackedArea.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/stackedAreaChart.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/stream_layers.js"></script> -->
<script src="/dashboard/assets/js/ds-table.js"></script>
{% endblock %}
{% block page_script %}
var storage_format = d3.format(",.2f");
var size_format = d3.format(",.0f");

d3.select('#storage_used').text(storage_format({{storage_used}}/1024.0/1024.0))

var unsortableColumns = [];
$('#datatable-table').find('thead th').each(function(){
    if ($(this).hasClass( 'no-sort')){
        unsortableColumns.push({"bSortable": false});
    }
    else if ($(this).hasClass( 'numeric-comma-sort')){
        unsortableColumns.push({"sType": "numeric-comma"});
    } else {
        unsortableColumns.push(null);
    }
});

var selected = {}
var count = 0

$("#datatable-table").dataTable({
    "sDom": "<'row table-top-control'<'col-md-6 per-page-selector'l<'action-toolbar'>>r>t<'row table-bottom-control'<'col-md-6'i><'col-md-6'p>>",
    "oLanguage": {
        "sLengthMenu": "_MENU_ &nbsp; records per page"
    },
    "iDisplayLength": 50,
    "aaSorting": [[ 4, "desc" ]],
    "aoColumns": unsortableColumns,
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "/dashboard/media/ajax?key={{key}}",
    "fnDrawCallback": function( oSettings ) {
        $(".iCheck").iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
        $(".select-action").on("ifChecked", function() {
            selected[$(this).data('id')] = true
            console.log('add', $(this).data('id'), selected, d3.keys(selected))
            count += 1
            $("div.action-toolbar").show()
        })
        $(".select-action").on("ifUnchecked", function() {
            delete selected[$(this).data('id')]
            console.log('del', $(this).data('id'), selected, d3.keys(selected))
            count -= 1
            if (count <= 0) {
                $("div.action-toolbar").hide()
            }
        })
    }
});

$(".dataTables_length select").select2({
    minimumResultsForSearch: 10
});

$("div.action-toolbar").html('&nbsp;&nbsp;<button type="button" class="btn btn-danger delete-btn">Delete</button>');
$("div.action-toolbar").hide()

$(".delete-btn").click(function() {
    var submited = d3.keys(selected).length
    var done = 0
    d3.keys(selected).forEach(function(id) {
        console.log('Delete', id)
        $.ajax({
            type: "POST",
            url: '/remove_video_from_user',
            data: { video_id: id, admin_mode: true },
            success: function(resp) {
                console.log('resp', resp)
                if (resp.result) {
                    done += 1
                    if (done == submited) {
                        location.reload();
                    }
                }
                else {
                    console.log('error', resp, resp.message)
                    $("#alert-zone").append('\
<div class="alert alert-danger">\
    <button type="button" class="close" data-dismiss="alert">×</button>\
    <strong><i class="fa fa-ban"></i>  '+resp.error_code+'</strong> - '+resp.message+'\
</div>\
                    ')
                }
            },
            dataType: "json"
        });
    })
}) 
d3.json('/dashboard/profile/history?key={{key}}', function(data) {
    var usageData = [
        {
            key: "Storage",
            area: true,
            values: data.message.map(function(d) {
                return {'x': d.ts, 'y': d.usage.storage/1024.0/1024.0}
            })
        },
        {
            key: "Download",
            area: true,
            values: data.message.map(function(d) {
                return {'x': d.ts, 'y': d.usage.downloaded/1024.0/1024.0}
            })
        }
    ]

    nv.addGraph(function() {
        var chart = nv.models.lineChart()
            .forceY(0.0)
            .margin({top: 20, bottom: 40, left: 60, right: 20})
            .showLegend(false)
            .color(keyColor)
            .tooltipContent(function(key, x, y, e, graph) {
                return '<h4>' + key + '</h4>' +
                    '<p>' +  y + ' MB on ' + x + '</p>'
            })

        chart.yAxis
            .showMaxMin(false)
            .tickFormat(d3.format(',.2f'));

        chart.xAxis
            .showMaxMin(false)
            .tickFormat(function(d) { return d3.time.format('%b %d')(new Date(d)) });

        d3.select('#usage-chart-line svg')
            .datum(usageData)
            .transition().duration(500)
            .call(chart);
        
        chart.update()

        return chart;
    });

    var costData = [
        {
            key: "Storage",
            area: true,
            values: data.message.map(function(d) {
                return {'x': d.ts, 'y': d.cost.storage}
            })
        },
        {
            key: "Download",
            area: true,
            values: data.message.map(function(d) {
                return {'x': d.ts, 'y': d.cost.downloaded}
            })
        }
    ]

    nv.addGraph(function() {
        var chart = nv.models.stackedAreaChart()
            .forceY(0.0)
            .margin({top: 20, bottom: 40, left: 60, right: 20})
            .showControls(false)
            .showLegend(false)
            .color(keyColor)
            .tooltipContent(function(key, x, y, e, graph) {
                return '<h4>' + key + '</h4>' +
                    '<p> $' +  y + ' on ' + x + '</p>'
            })

        chart.yAxis
            .showMaxMin(false)
            .tickFormat(d3.format(',.4f'));

        chart.xAxis
            .showMaxMin(false)
            .tickFormat(function(d) { return d3.time.format('%b %d')(new Date(d)) });

        d3.select('#cost-chart-line svg')
            .datum(costData)
            .transition().duration(500)
            .call(chart);

        chart.update()

        return chart;
    });
})
{% endblock %}
