{% extends "base.html" %}
{% set active_page = "test" %}

{% set actions = [
    ('gen_count', 'Generate Count History'),
    ('get_counts', 'Get Count History'),
    ('downloaded_mock', 'Downloaded (Mock)'),
    ('clear_usage', 'Clear Usage'),
] -%}

{% set batch = [
    ('name', 'Name'),
    ('camera', 'Camera'),
    ('media', 'Media'),
    ('size', 'Size'),
    ('stats', 'Stats'),
    ('deleted', 'Deleted'),
    ('downloaded', 'Downloaded'),
    ('storage', 'Storage'),
    ('daily_stats', 'Daily Stats'),
    ('monthly_stats', 'Monthly Stats'),
] -%}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <section class="widget">
            <header>
                <h4><i class="fa fa-flash"></i> Test Actions</h4>
            </header>
            <div class="body text-align-center">
                <div class="well">
                    <div class="row">
                        {% for id, caption in batch %}
                        <button type="button" class="btn btn-danger batch-btn" data-id="{{id}}">{{caption|e}}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        {% for id, caption in actions %}
                        <button type="button" class="btn btn-primary action-btn" data-id="{{id}}">{{caption|e}}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <section class="widget">
            <header>
                <h4><i class="fa fa-comments"></i> Results</h4>
            </header>
            <div class="body">
                <div class="row">
                    <div class="col-xs-12">
                    <h4 class="smaller">Url: <span id="url"></span></h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-flat">
                                        <h4 class="smaller">
                                            <i class="ace-icon fa fa-code"></i>
                                            Request
                                        </h4>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <pre id="request"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-flat">
                                        <h4 class="smaller">
                                            <i class="ace-icon fa fa-code"></i>
                                            Response
                                        </h4>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <pre id="response"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
        </section>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/dashboard/assets/js/ds-test.js"></script>
{% endblock %}
